body {
    padding: 96px 0;
}
body, p, div {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #6B7280;
}
h1 {
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    line-height: 60px;
    text-align: center;
    letter-spacing: -0.025em;
    color: #111827;
    margin: 0 0 20px;
}
h2 {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #6B7280;
    margin: 0 auto 96px;
    max-width: 576px;
}
h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    margin: 0;
}
#ajax {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9px 17px;
    background: #4F46E5;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    margin: 80px auto;
    color: white;
    border: 1px solid #4F46E5;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
    transition: all 0.25s;
}
#ajax:hover {
    background-color: white;
    color: #4F46E5;
}
#ajax.disabled {
    pointer-events: none;
    background: #FAFAFA;
    border-color: #fafafa;
    color: #6B7280;
}
.button {
    border: 1px solid #D1D5DB;
    box-sizing: border-box;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #374151;
    padding: 9px 17px;
    text-decoration: none;
    width: fit-content;
    margin-top: auto;
    transition: all 0.25s;
}
.button:hover {
    background-color: #D1D5DB;
    color: white;
}
.container {
    width: 100%;
    margin: 0 auto;
}
.direction-column {
    flex-direction: column;
}
.direction-row {
    flex-direction: row;
}
.flex {
    display: flex;
}
.icon {
    width: 100%;
    max-width: 48px;
    height: 48px;
    margin-right: 24px;
}
.row {
    flex-wrap: wrap;
    width: 100%;
}
.column {
    flex: 50%;
    padding: 24px;
    box-sizing: border-box;
    border: 1px solid #E5E7EB;
    background-color: white;
}
.column:nth-child(1) {
    border-top: 1px solid #f6f6f6;
    border-top-left-radius: 8px;
}
.column:nth-child(2) {
    border-top: 1px solid #f6f6f6;
    border-top-right-radius: 8px;
}
.column:last-child {
    border-bottom-right-radius: 8px;
    box-shadow: 0px 2px 2px #e5e7eb;
}
.column:nth-last-child(2) {
    border-bottom-left-radius: 8px;
    box-shadow: 0px 2px 2px #e5e7eb;
}

@media only screen and (min-width: 1100px) {
    .container {
        width: 1087px;
    }
}
@media only screen and (max-width: 768px) {
    .column {
        flex: 100%;
    }
    .column:nth-child(1) {
        border-top: 1px solid #f6f6f6;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }
    .column:nth-child(2) {
        border-top: 1px solid #E5E7EB;
        border-top-right-radius: 0px;
    }
    .column:last-child {
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        box-shadow: 0px 2px 2px #e5e7eb;
    }
    .column:nth-last-child(2) {
        border-bottom-left-radius: 0px;
        box-shadow: 0;
    }
}